## TASK-1

## Python Basics

#### Variables

Integer,string,float are major datatypes.

In [12]:
a=1          ##integer
b='string'   ##string
c=12.4       ##float
d='12.4'     ##it might be integer if it is not inside the quotes.

To get to know about the data type of variable we use
'type()' function.

In [13]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>

In [14]:
print('hello')
print('hello world')

hello
hello world

In the above print statement, why the hello and hello world is being printed in two different lines?

It is because the end key of print function will set the string that needs to be appended 
when printing is done.By default the end key is set by newline character.Let us check it out.

In [15]:
print('hello',end=" ")   ## assigning the end with a space
print('hello world')

hello hello world

In [16]:
print('hello',end=" space ")     ## assigning the end with ' space '
print('hello world',end=' end ') ## assigning the end with ' end '

hello space hello world end

What happens when you want to print an variable inside the print statement?

In [17]:
a='karthikaa'
print(a)

karthikaa

What happens when you want to print two other variable inside the same print statement?
Here comes the concept 
#### Concatenation

In [18]:
a='python'
b='course'
print(a+b)

## The '+' acts as an arithmetic operator when dealing with integers or floats,but
## concanetates when dealing with strings

print('hello'+'world')

pythoncourse
helloworld

Lets try to concatenate two other data types together

In [19]:
a='python'
b=1
print(a+b)

## We result in TypeError, as two different data types can not be concatenated.

TypeError: can only concatenate str (not "int") to str

In [ ]:
a=10.2
b=9
print(a+b)

## Here the two different data type is added because '+' plays operator role here.

Taking about errors, what happens when we assign a word to a variable without quoting it?

In [20]:
a=cancel
print(a)
## It results in NameError
## Because 'hello' is a variable with no value assigned to it.

NameError: name 'cancel' is not defined

In [ ]:
##Lets fix this

cancel='good vibes'
a=cancel
print(a)

## Here we have assigned a string value to the varibale 'hello'.

What happens when we want to print an int variable in between a print statement?

In [21]:
a=2
print('hello' + a)

## This won't work because str and int/float/any other dt cannot be concatenated.

TypeError: can only concatenate str (not "int") to str

To over come this, we have two ways:
#### Formate() function

In [22]:
a=1;b=2
print('my fav num is {0} and {1}'.format(a,b))

my fav num is 1 and 2

### Typecasting

Using typecaste we can change a variable from one datatype to other

In [23]:
a=1
b='hello'
type(a)

int

In [24]:
str(a)
type(a)

## the variable 'a' is still an integer, because it only acts as string when we use str(a).

int

In [25]:
a=1;b=2
print('my fav num is '+ str(a) + ' and '+ str(b))

my fav num is 1 and 2

Lets try to type caste from different datatypes to other

In [26]:
string='hello'
int(string)

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
a='9.4'
int(a)

In [27]:
a='9'
int(a)

9

In [28]:
complex(a)

(9+0j)

In [29]:
float(a)

9.0

In [30]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [32]:
## print 4 table

for i in range(4,41,4):
    print(i)

4
8
12
16
20
24
28
32
36
40

### List

It is mention by square brackets.
It allows duplictate values.
Allows slicing,indexing.

In [33]:
l=[1,2,3,4,5,6,7,8]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
l=[1,2,3,4,5,6,7,8,3]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 3]

In [35]:
print(l[2])

3

In [36]:
## Wants the entire list.
## By default value (empty) means from the beggining or till the end
print(l[:])

## print from the begining till the index number 2.
print(l[:3])

## print from the index number 2 till the end.
print(l[2:])

## If we want to step values 
print(l[::2])

[1, 2, 3, 4, 5, 6, 7, 8, 3]
[1, 2, 3]
[3, 4, 5, 6, 7, 8, 3]
[1, 3, 5, 7, 3]

Reverse the list

In [37]:
print(l[::-1]) ## here the '-1' decrease the

[3, 8, 7, 6, 5, 4, 3, 2, 1]

Print the elements inside the list using for loops

In [124]:
l=[11,21,3,4,5,6,7,8]
for i in l:
    print(i)

11
21
3
4
5
6
7
8

In [39]:
## List accepts different data types storage in one.

l2=[1,'hello',9.023]
print(l2)

[1, 'hello', 9.023]

In [40]:
## It is mutable

l2[0]=90
print(l2)

[90, 'hello', 9.023]

In [41]:
## Length of list can be determined using len() function

print(len(l2))

3

Typecasting list into tuple

In [49]:
l3=[1,3,'hello']
print(tuple(l3))    ## list is converted into tuple

(1, 3, 'hello')

Typecasting list into set

In [50]:
l3=[1,3,'hello']
print(set(l3))    ## list is converted into set

{1, 3, 'hello'}

In [70]:
## by default the start value is from '0'
## it can be customized

l1=['a','b','c','d']
d1=dict(enumerate(l1))
print (d1)

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}

In [125]:
l1=['a','b','c','d']
d1=dict(enumerate(l1,start=10))
print (d1)

{10: 'a', 11: 'b', 12: 'c', 13: 'd'}

In [58]:
### CONVERT TWO LIST OF SAME SIZE INTO ONE DICT

a1=[1,2,3]
a2=["one","two","three"]

## to convert this two list into a same dictionary:

d=zip(a1,a2)  ## we have zipped two list together

print(dict(d))  ## here we convert the zipped list to dictionary

{1: 'one', 2: 'two', 3: 'three'}

In [59]:
###  CONVERT TWO LIST OF DIFFERENT SIZE INTO ONE DICT

a1=[1,2,3,4,5]
a2=["one","two","three"]

## to convert this two list into a same dictionary:

d=zip(a1,a2)  ## we have zipped two list together,it skips the key which doesnt have value.

print(dict(d))  ## here we convert the zipped list to dictionary

{1: 'one', 2: 'two', 3: 'three'}

In [60]:
###  CONVERT TWO LIST OF DIFFERENT SIZE INTO ONE DICT

a1=[1,2]
a2=["one","two","three"]

## to convert this two list into a same dictionary:

d=zip(a1,a2)  ## we have zipped two list together,it skips the value which doesnt have key.

print(dict(d))  ## here we convert the zipped list to dictionary

{1: 'one', 2: 'two'}

In [69]:
###  CONVERT TWO LIST OF DIFFERENT SIZE INTO ONE DICT

from itertools import zip_longest 

a1=[1,2,3,4,5]
a2=["one","two","three"]

## Using zip_longest(), iteration continues until the longest iterable is exhausted.
## By default, fillvalue is None as end value is set to "/n" by default.
## We can set a value if we want

d1=zip_longest(a1,a2)

#Converting zip object to dict using dict() contructor.

print (dict(d1))

print("------------------------------------------------------------")

d2=zip_longest(a1,a2,fillvalue="text")

print(dict(d2))

{1: 'one', 2: 'two', 3: 'three', 4: None, 5: None}
------------------------------------------------------------
{1: 'one', 2: 'two', 3: 'three', 4: 'text', 5: 'text'}

Using the append() method to add one item at a time:

In [76]:
b=[1,2]

b.append(3)

print(b)

[1, 2, 3]

Using the insert() method to add two item at a time:

In [127]:
b=[1,2]

b.insert(1,"hello")

print(b)

[1, 'hello', 2]

To append elements from another list to the current list, use the extend() method.

In [80]:
## Using extend we can extend a list with ny iterable object (tuples, sets, dictionaries etc.).

a=[1,2,3,4]

b=[5,6,7,8]
c=("one","two")
d={'one',2,"three"}

a.extend(b)
print(a)

a.extend(c)
print(a)

a.extend(d)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 'one', 'two']
[1, 2, 3, 4, 5, 6, 7, 8, 'one', 'two', 2, 'three', 'one']

In [81]:
## The remove() method removes the specified item.

l=[1,2,3,4]
l.remove(2)
print(l)

[1, 3, 4]

In [82]:
## The pop() method removes the specified index.

l=[1,2,3,4]
l.pop(2) 
print(l)

[1, 2, 4]

In [83]:
## If you do not specify the index, the pop() method removes the last item

l=[1,2,3,4]
l.pop() 
print(l)

[1, 2, 3]

In [84]:
## The del keyword also removes the specified index:

l=[1,2,3,4,5]
del l[4]
print(l)

[1, 2, 3, 4]

In [85]:
## The del keyword can also delete the list completely.

l=[1,2,3,4]
del l
print(l)

## here comes name error, as we deleted the list named l.

NameError: name 'l' is not defined

In [86]:
## The clear() method empties the list.

l=[1,2,3,4]
l.clear()
print(l)

[]

In [89]:
## sort the list using sort() method

l= [105, 52, 52, 80, 0,-67]
l.sort()
print(l)

[-67, 0, 52, 52, 80, 105]

In [90]:
## Sort the list descending:

l= [105, 52, 52, 80, 0,-67]
l.sort(reverse=True)
print(l)

[105, 80, 52, 52, 0, -67]

In [92]:
## reverse the order of list:

l= [4,3,2,1]
l.reverse()
print(l)

[1, 2, 3, 4]

In [94]:
## To copy a list to other use copy() method

l=[1,2,3,4]
l1=l.copy()
print(l1)

[1, 2, 3, 4]

In [101]:
## Join two lists

l1=[1,2,3]
l2=[4,5,7,4,4]

print(l1 +l2)

[1, 2, 3, 4, 5, 7, 4, 4]

In [135]:
t1=[1,2,3]
l=(4,5,6)

t3=t1+l

print(t3)

## list can be conactenate with list only

TypeError: can only concatenate list (not "tuple") to list

In [100]:
## count() method to count specific number in the list

print(l2.count(4))

3

### Tuple

In [162]:
t=(1,2,3,4,5,6,7,8)
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8)

In [43]:
## Alows duplicate values

t=(1,2,3,4,5,6,7,8,3)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 3)

In [44]:
## Tuples are immutable

t[0]=90
print(t)

TypeError: 'tuple' object does not support item assignment

In [ ]:
## In tuple we can store different dt 

t1=(1,'hello')
print(t1)

#### Access

In [45]:
t2 = ("apple", "banana", "cherry","mango")
print(t2)

('apple', 'banana', 'cherry', 'mango')

In [46]:
print(t2[-1])

mango

### slicing

In [47]:
## Want to print 'banana' and cherry
print(t2[1:3])

('banana', 'cherry')

In [48]:
## Want to print 'apple' and 'cherry'
print(t2[::2])

('apple', 'cherry')

In [121]:
## extract the values back into variables. This is called "unpacking":

fruit = ("apple", "banana", "cherry")

one,two,three = fruit

print(one)
print(two)
print(three)

apple
banana
cherry

In [118]:
fruits = (1,2,3)

apple, banana, cherry = fruits

print(1)
print(2)
print(3)

1
2
3

In [129]:
## Add two tuples

t1=(1,2,3)
t2=(4,5,6)

t3=t1+t2

print(t3)

(1, 2, 3, 4, 5, 6)

In [132]:
t1=(1,2,3)
l=[4,5,6]

t3=t1+l

print(t3)

## Tuple can be conactenate with tuple only

TypeError: can only concatenate tuple (not "list") to tuple

#### As tuple is immutable it has two methods:
index()
count()

In [139]:
# TYPECASTING

## tuple to list

t=(1,2,3,'o')
print(list(t))

[1, 2, 3, 'o']

In [140]:
## tuple to set

t=(1,2,3,'o')
print(set(t))

{1, 2, 3, 'o'}

In [144]:
## tuple to dict

t=(1,2,3,'o')
print(dict(enumerate(t,1)))

{1: 1, 2: 2, 3: 3, 4: 'o'}

## Set

In [161]:
a={1,2,'hello'}
print(type(a))
print(a)

<class 'set'>
{1, 2, 'hello'}

In [146]:
## Set does not allow duplicates

a={1,1,2}
print(a)

{1, 2}

In [147]:
## set is unmutable and has no index

a={1,2,3}
print(a[0])


a[0]=9
print(a)

TypeError: 'set' object does not support item assignment

#### The values True and 1 are considered the same value in sets, and are treated as duplicates

In [152]:
## Add items using add() method

t = {"apple", "banana", "cherry"}

t.add("orange")

print(t)

{'apple', 'banana', 'orange', 'cherry'}

In [157]:
## To add items from another set into the current set, use the update() method.

a={1,2,3}
b={'hello','kitty'}

b.update(a)
print(b)

{'kitty', 1, 2, 3, 'hello'}

In [160]:
## To remove an item in a set, use the remove(), or the discard() method.

a={1,2,3}
a.remove(1)
print(a)

a.discard(3)
print(a)

a.pop()
print(a)

{2, 3}
{2}
set()

In [163]:
## Looping

s = {"apple", "banana", "cherry"}

for i in s:
  print(i)

apple
banana
cherry

In [164]:
s1={1,2,3,4}
s2={3,4,5,6,7}

s1.difference(s2) # Returns a set containing the difference between two or more sets

{1, 2}

In [165]:
s1={1,2,3,4}
s2={3,4,5,6,7}

s1.intersection(s2) # Returns a set, that is the intersection of two other sets

{3, 4}

In [167]:
s1={1,2,3,4}
s2={3,4,5,6,7}

# difference_update Removes the items in this set that are also included in another, specified set

s1.difference_update(s2)  
 
print(s1)

{1, 2}

In [168]:
s1={1,2,3,4}
s2={3,4,5,6,7}

# intersection_update Removes the items in this set that are not present in other, specified set(s)
s1.intersection_update(s2)  
 
print(s1)

{3, 4}

In [182]:
s1={1,2,3,4}
s2={3,4,5,6,7}

print(s2.isdisjoint(s1))   ## if intersection is there then it is false
print(s1.issubset(s2))     ## if s1  is subset of s2 then it is true
print(s1.issuperset(s2))   ## if all item of s2 contains in s1, then t is true

False
False
False

In [185]:
s1={1,2,3}
s2={1,2,3,4,5,6,7}

print(s2.isdisjoint(s1))   ## if intersection is there then it is false
print(s1.issubset(s2))     ## if s1  is subset of s2 then it is true
print(s2.issuperset(s1))   ## if all item of s2 contains in s1, then t is true

False
True
True

In [186]:
s1={1,2,3}
s2={1,2,3,4,5,6,7}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [190]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c","z"}


z = x.symmetric_difference(y) ## gives the difference value from  both of the set

print(z)

{'e', 'a', 'f', 'd', 'z'}

{'d', 'e', 'f'}

#### Typecasting

In [193]:
s={1,2,3,"hello"}

print(list(s))                 ## set to list
print(tuple(s))                ## set to tuple
print(dict(enumerate(s,1)))    ## set to dict

[1, 2, 3, 'hello']
(1, 2, 3, 'hello')
{1: 1, 2: 2, 3: 3, 4: 'hello'}

In [195]:
s1={1,2,3}
s2={3,4,5}

print(s1 + s2)

## set does not allow to conactenate

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [197]:
s1={1,2,3}
s2={3,4,5}

s1.update(s2)
print(s1)

{1, 2, 3, 4, 5}

## Dictionaries

In [192]:
d = {
  "name": "karu",
  "course": "cs",
  "age": 19
}
print(type(d))
print(d)

<class 'dict'>
{'name': 'karu', 'course': 'cs', 'age': 19}

In [216]:
## Does not alloe duplicates

d = {
  "name": "karu",
  "course": "cs",
  "age": 19,
  "age": 56
}

print(d)

{'name': 'karu', 'course': 'cs', 'age': 56}

In [217]:
## mutable

d['name']="nimi"
print(d)

{'name': 'nimi', 'course': 'cs', 'age': 56}

In [218]:
print(d["name"])

nimi

In [219]:
## There is also a method called get() that will give you the same result:

d.get('name')

'nimi'

In [220]:
### The keys() method will return a list of all the keys in the dictionary.

d.keys()

dict_keys(['name', 'course', 'age'])

In [221]:
## adding key and value

d["new key"]="new value"

print(d)

{'name': 'nimi', 'course': 'cs', 'age': 56, 'new key': 'new value'}

In [223]:
## update the values:

d.update({'age':20})
print(d)

{'name': 'nimi', 'course': 'cs', 'age': 20, 'new key': 'new value'}

In [225]:
## Remove element from dict

d.popitem()   ## pops last item
print(d)

{'name': 'nimi', 'course': 'cs', 'age': 20}

In [227]:
d.pop('course')  
print(d)

{'name': 'nimi', 'age': 20}

In [229]:
## using del keyword

del d['age']

print(d)

{'name': 'nimi'}

In [ ]:
## Dict to list

In [237]:
d = {
  "name": "karu",
  "course": "cs",
  "age": 19
}

print(list(d.keys()))
print(list(d.values()))
print(list(d.items()))

['name', 'course', 'age']
['karu', 'cs', 19]
[('name', 'karu'), ('course', 'cs'), ('age', 19)]

In [246]:
## Dict  to set

In [238]:
d = {
  "name": "karu",
  "course": "cs",
  "age": 19
}

print(set(d.keys()))
print(set(d.values()))
print(set(d.items()))

{'course', 'age', 'name'}
{19, 'karu', 'cs'}
{('age', 19), ('name', 'karu'), ('course', 'cs')}

In [ ]:
## Dict to tuple

In [240]:
d = {
  "name": "karu",
  "course": "cs",
  "age": 19
}

print(tuple(d.keys()))
print(tuple(d.values()))
print(tuple(d.items()))

('name', 'course', 'age')
('karu', 'cs', 19)
(('name', 'karu'), ('course', 'cs'), ('age', 19))

#### List inside list

In [244]:
l=[[1,2],{3,5},(4,5)]

#### tuple inside a tuple

In [245]:
t=({1,0},[2,8],(3,4))

#### set cannot have set/list/dict in it but can have tuple

In [248]:
s={1,2,(3,4)} # works
s={1,2,[3,4]} #not
s={1,2,{3,4}} #not
s={1,2,{'a':1,
   'b':2,
   'c':[1,2,3],
   'd':(4,5,6),
   'e':{1,2,3},
   'f':{'p':1,'q':2}
  }
}

TypeError: unhashable type: 'dict'

#### list,tuple,set,dict inside dict

In [213]:
d={'a':1,
   'b':2,
   'c':[1,2,3],
   'd':(4,5,6),
   'e':{1,2,3},
   'f':{'p':1,'q':2}
  }

print(d)

{'a': 1, 'b': 2, 'c': [1, 2, 3], 'd': (4, 5, 6), 'e': {1, 2, 3}, 'f': {'p': 1, 'q': 2}}